*.tfstate
*.tfstate.*
*.terraform/

old/

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform/

*.aws/credentials
*.aws/config

*.tfplan
*.tfplan.*

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

argocd-apps.yaml
kubeconfig/
